<<<<<<< HEAD
/*top bar */

.menu {
    z-index: 1;
    position: fixed;
    width: 100%;
    background-color: rgb(251, 251, 251);
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    box-shadow: 0px 1px 3px #0407083d;
    height: 7rem;
    align-items: center;
    flex-direction: row;
  }
    
  .menu > li {
    z-index: 2;
    margin: 2px 1rem;
    font-size: 110%;
    font-weight: bold;
    text-align: center;
    display: block;
   
  }
    
  header{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
  
  }
  
  nav{
    width: 100%;
  }
  
  ul.menu{
    padding: 0px;
  }
  
  .nomliste{
    
    text-align: center; 
    text-transform: none;
    text-decoration: none;
    color: rgb(9, 2, 2);
    font-family: 'Pompiere', cursive,sans-serif;
    font-size: 2em;
  }
  
   /*logo top bar */

  .menu-image {
    display: none;
  }
  
  /* Responsive */
  
  @media (max-width: 1063px) {
      
       
       /* Partie menu header */
       
       
      .logoRond {
        width: 16rem;
        margin-top: 0%;
    }
  
    .menu-image {
        margin-right: 4%;
        width: 3.9em;
        position: absolute;
        z-index: 2;
        cursor: pointer;
        display: block;
        
      }
      
      .divLogoPlat{
        
        margin-left: 1%;
        height: 6vh;
        display: flex;
        align-items: center;
      }
   
       .liste_{
          height: 10vh;
       }
       ul{
        height: 100vh;
       }
       .nomliste{
          
          margin-top: 0%;
              color: #0000009e;
              font-weight: 800;
              cursor: pointer;
          }
   
       .top-nav {
         display: flex;
         flex-direction: row-reverse;
         align-items: flex-start;
         justify-content: space-between;
         background-color: rgba(21, 1, 1, 0.292);
         
         }
       .menu {
         margin-bottom: 0%; 
         padding-bottom: 2%;
         position: fixed;
         left: 0;
         flex-direction: column;
         width: 100%;
        
         align-items: center;
         margin-top: 0%;
         padding-top: 7%;
         height: 9.5%;
       }
       .liste_{
        padding: 10%;
       }
   
     
   
      
   
      
       .menu > li {
         display: flex;
         justify-content: center;
         margin: 0;
         padding: 0.3em 0;
         width: 100%;
         display: none;
         background-color: #ffffffb5;
       }
       
         
       
     }
  
     
      
=======

/* BLOCK main  */
h1 {
    font-family: 'Pompiere', cursive;
    font-size: 4em;
}
h2 {
    font-family: 'Pompiere', cursive;
    font-size: 3em;
}
p {
    font-family: 'Pompiere', cursive;
    font-size: 2em;
}
a {
    text-decoration: none;
    color: black;
} a:hover {
    color: rgb(255, 195, 31);
}
>>>>>>> refs/remotes/origin/main
