
/* DEBUT navbar */

.menu {
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: rgb(251, 251, 251);
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  box-shadow: 0px 1px 3px #0407083d;
  height: 7rem;
  align-items: center;
  flex-direction: row;
  padding: 0px;
}
.menu-image {
  display: none;
}
.menu > li {
  z-index: 2;
  margin: 2px 1rem;
  font-size: 110%;
  font-weight: bold;
  text-align: center;
  display: block;
}
header{
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
}

nav{
  width: 100%;
}
.nomliste{
  text-align: center; 
  text-transform: none;
  text-decoration: none;
  color: rgb(9, 2, 2);
  font-family: 'Pompiere', cursive,sans-serif;
  font-size: 1.5em;
}
.logoRond{
  width: 23rem;
  margin-top: 0%;
}


/* DEBUT du main  */
.main {
  padding-top: 10vh;
}
.dadBlock {
    width: 100%;
    justify-content: space-around;
}
.babyBlock {
    width: 40%;
    font-size: 1.4dvw;
}
.imgContent {
    width: 50%; 
}
h2 {
    font-family: 'Pompiere', cursive;
    font-size: 4vw;
}
h3 {
    font-family: 'Pompiere', cursive;
    font-size: 3vw;
}
.imgLogo {
    width: 8em;
}
p {
    font-size: 1.6vw;
}

/** début du footer **/

.lienfooter {
  font-family: 'Pompiere', cursive;
  color: black;
  font-weight: bold;
}

footer {
  align-items: center;
  background-color: rgb(251, 251, 251);
  border-top: 1px solid #D9D9D9;
  display: flex;
  flex-direction: row;
  width: 100%;

}

.bloccontactfooter {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 3%;
  width: 100%;
}

.bloclienfooter {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.bloclogofooter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.lienfooter {
  font-family: 'Pompiere', cursive;
  font-weight: bold;
  text-decoration: none;
  font-size: 2vw;
  text-align: center;
}

.logofooter {
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
  margin-bottom: 3%;
  width: 50%;
}

.pfooter {
  font-size: 2vw;
  margin-top: 3%;
}

/** Fin de footer **/


/* DEBUT Responsive */

@media (max-width: 1080px) {
    
  /* Partie menu header */
    
  .logoRond {
    width: 16rem;
    margin-top: 14%;
  }
  .menu-image {
    margin-right: 4%;
    width: 11vh;
    position: fixed;
    z-index: 2;
    cursor: pointer;
    display: block;
  } 
  .nomliste {
    margin-top: 0%;
    color: #0000009e;
    font-weight: 800;
    cursor: pointer;
  }
  .top-nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: space-between;
    background-color: rgba(21, 1, 1, 0.292);
  }
  .menu {
    margin-bottom: 0%; 
    padding-bottom: 2%;
    position: fixed;
    left: 0;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 0%;
    padding-top: 7%;
    height: 10%;
  }
  .liste_{
    padding: 10%;
    height: 10vh
  }
  .menu > li {
    margin: 0px;
    padding: 6px 0;
    width: 100%;
    border-radius: 12px;
    border-bottom: solid 0.1px black;
    background-color: rgb(251 251 251);
    display: none;
  }

  /* DEBUT Responsive main  */

}

@media screen and (max-width: 768px) {
    .dadBlock {
        flex-direction: column;
        align-items: center;
    }
    .babyBlock {
        width: 90%;
    }
    .imgContent {
        width: 90%;
        object-fit: contain;
    }
    h2 {
        font-family: 'Pompiere', cursive;
        font-size: 8vw;
    }
    h3 {
        font-family: 'Pompiere', cursive;
        font-size: 7vw;
    }
    p {
        font-family: 'Pompiere', cursive;
        font-size: 6vw;
    }
    .imgLogo {
      width: 5vh;
  }
}

@media (max-width: 425px) {

  /** début du footer **/

  .bloccontactfooter {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 100%;
  }

  .bloclienfooter {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3%;
    width: 100%;
  }

  .bloclogofooter {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  footer {
    align-items: center;
    background-color: rgb(251, 251, 251);
    border-top: 1px solid #D9D9D9;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 3%;
  }

  .lienfooter {
    font-family: 'Pompiere', cursive;
    font-weight: bold;
    text-decoration: none;
    font-size: 6vw;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  .logofooter {
    display: flex;
    justify-content: space-around;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 50%;
  }

  .pfooter {
    font-size: 6vw;
    margin: 0;
  }

}